.games {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  height: 20vh;
  min-width: 25vw;
  width: 26rem;
}

.games>div {
  display: flex;
  align-items: start;
  gap: 2rem;
  height: 8rem;
  margin-top: 2rem;
}

.games img {
  height: 100%;
  width: 10rem;
  object-fit: cover;

}

.games h1 {
  font-size: 5vmin;
  margin: 0 0 2rem 0.5rem;
}